# Project 4: Web Scraping Indeed.com & Predicting Salaries

In Project 4, we practice two major skills: collecting data via  web scraping and building a binary predictor with Logistic Regression.

We will collect salary information on data science jobs in a variety of markets. Using location, title, and job summary, we'll predict the salary of the job. For job posting sites, this is extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), extrapolating expected salary can help guide negotiations.

Normally, we can use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Q: Why would we want this to be a classification problem?
- A: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Section one focuses on scraping Indeed.com; then we use listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

Scrape job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries. First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [1]:
URL = 'http://www.indeed.com/'

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup

In [3]:
# read site in soup
r = requests.get(URL)
soup = BeautifulSoup(r.content, "lxml")

# Append to the full set of results
results = soup.findAll('div', { "class" : "result" })

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some of the more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```

- Make sure these functions are robust and can handle cases where the data/field may not be available
- Test the functions on the results above

In [4]:
# get text
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''
        
# company
def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

# location
def get_location_from_result(result):
    return extract_text(result.find('span', {'class' : 'location'}))

# summary
def get_summary_from_result(result):
    return extract_text(result.find('span', {'class' : 'summary'}))
# title
def get_title_from_result(result):
    return extract_text(result.find('a', {'data-tn-element' : 'jobTitle'}))
# get salary if exists
def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()   
    return None

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results: the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try different city). The second controls where in the results to start and gives 10 results (so we can keep incrementing this by 10 to move further within the list).

#### Complete the following code to collect results from multiple cities and start points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [5]:
# specify city
YOUR_CITY = ['Atlanta, GA', 'Los+Angeles, CA', 'Seattle, WA', 
             'New+York, NY', 'San+Diego, CA', 'San+Francisco, CA', 'Denver CO', 'Boston, MA', 'Austin, TX']

In [6]:
# create template URL and max number of results (pages) to pull
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"

# for loop to pull data with bs4
for city in set(YOUR_CITY):
    for start in range(0, 500, 20 ):
        r = requests.get(url_template.format(city, start))
        # Grab the results from the request (as above)
        soup = BeautifulSoup(r.content, "lxml")
        # Append to the full set of results
        results += soup.findAll('div', { "class" : "result" })

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [7]:
# combine data into dictionaries
rows = []
for result in results:
    if result:
        row = {'company':get_company_from_result(result),
              'location':get_location_from_result(result),
              'summary':get_summary_from_result(result),
              'title':get_title_from_result(result),
               'salary':get_salary_from_result(result)
              }
        rows.append(row)

# create dataframe
import pandas as pd
df = pd.DataFrame(rows)
df.head()
df.shape

(3353, 5)

In [8]:
df.tail()
df['salary'].count()

131

In [9]:
df.drop_duplicates(inplace = True)
df.shape
df['salary'].count()

118

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [10]:
# Filter to only the rows that have salary entries

# Remove duplicates

# Filter out salary entries referring to week, hour or month
data = df[~(df.salary.astype('str').str.contains('hour'))] # example
data = data[~(data.salary.astype('str').str.contains('week'))]
data = data[~(data.salary.astype('str').str.contains('month'))]


data.shape
data['salary'].count()
print data.head()
data['salary'].isnull()

              company                          location salary  \
0        Indeed Prime                        Austin, TX   None
1  Predictive Science                     United States   None
2           Galvanize                     United States   None
3                 IBM                        Austin, TX   None
7     Effective Spend  Austin, TX 78701 (Downtown area)   None

                                             summary  \
0  Expert in Python and core libraries used by da...
1  This is a freelance data scientist position wh...
2  Lead Instructor, Principal Data Engineer - Ent...
3  Automatically find and interpret data rich sou...
7  Fancies themselves a bit of a mad scientist. A...

                                               title
0                                     Data Scientist
1                                     Data Scientist
2  Lead Instructor, Principal Data Scientist - En...
3                     Data Engineer / Data Scientist
7                              Paid Search Associate

0        True
1        True
2        True
3        True
7        True
8        True
11       True
12       True
13       True
14       True
18       True
19       True
20       True
21       True
23       True
24       True
25       True
26       True
27       True
34       True
36       True
37       True
38       True
39       True
40      False
41       True
42       True
48       True
49       True
51       True
        ...
3216     True
3217     True
3218     True
3219     True
3224     True
3225     True
3226     True
3227     True
3228     True
3229     True
3230     True
3231     True
3232     True
3233     True
3240     True
3241     True
3242     True
3243     True
3244     True
3245     True
3246     True
3247     True
3248     True
3249     True
3255     True
3256     True
3261     True
3262     True
3265     True
3308     True
Name: salary, dtype: bool

In [11]:
new_data = data.dropna()

In [12]:
print new_data
new_data.shape()

                                                company  \
40                                     All-In Analytics
375                               Denver Public Schools
387                                       Mountain Ltd.
388                         Community College of Aurora
432                              University of Colorado
461                              University of Colorado
467                              University of Colorado
502                                        Potatoes USA
756                                         King County
758                               Dynamic Staffing Inc.
795                                G2 Web Services, LLC
801                                LIBERTY MUTUAL GROUP
822                                    All-In Analytics
838                               Lighthouse Recruiting
892                                           HERO.Jobs
914                    Cutting Edge Medical Diagnostics
920                               Smith Arnold Partners
1062                                   All-In Analytics
1120                                                 LT
1133                 Los Angeles County Human Resources
1139     Tessie Cleveland Community Service Corporation
1162                       Phillips Graduate University
1193   Los Angeles County Department of Human Resources
1198                                         QYResearch
1210                                          HERO.jobs
1236                                     Selby Jennings
1240                 Los Angeles County Human Resources
1270                              Lighthouse Recruiting
1274                                 Jobspring Partners
1327                                 Altair Engineering
...                                                 ...
2009                          Nathan S. Kline Institute
2017                                           StreetID
2020                                     Selby Jennings
2021                      DEPT OF HEALTH/MENTAL HYGIENE
2023                                            Averity
2038                            Smith Hanley Associates
2050  New York City Department of Health and Mental ...
2066                      OFFICE OF MANAGEMENT & BUDGET
2080                     DEPT OF ENVIRONMENT PROTECTION
2085                                            Averity
2175                              Smith Arnold Partners
2186                                            Averity
2204                                  POLICE DEPARTMENT
2242         Centers for Disease Control and Prevention
2258         Centers for Disease Control and Prevention
2263                                Analytic Recruiting
2265         Centers for Disease Control and Prevention
2287                                         Stackfolio
2289                                   Emory University
2320                                   Emory University
2336                                               CSTE
2364                               Synergy Search Group
2411                        Interesse International Inc
2612                                         Dashbot.io
2723                           Elevate Recruiting Group
2822                                            Harnham
2850                              Workbridge Associates
2898                              Bayone Solutions Inc.
3049                              IGE Therapeutics, Inc
3068                                     Tristaff Group

                                         location                      salary  \
40                                     Austin, TX  $140,000 - $160,000 a year
375   Denver, CO 80204 (Central West Denver area)    $63,339 - $76,007 a year
387                                    Denver, CO              $42,500 a year
388                                    Aurora, CO              $40,000 a year
432                                    Aurora, CO    $50,000 - $63,000 a year
461                                   Boulder, CO  $100,000 - $115,000 a year
467                                   Boulder, CO              $50,500 a year
502                                    Denver, CO              $85,000 a year
756           Seattle, WA 98119 (Queen Anne area)    $71,510 - $90,646 a year
758                                   Seattle, WA             $125,000 a year
795            Bellevue, WA 98004 (Downtown area)              $35,000 a year
801                                   Seattle, WA  $109,900 - $126,100 a year
822                                   Seattle, WA  $100,000 - $150,000 a year
838                                   Seattle, WA   $90,000 - $100,000 a year
892                                   Seattle, WA             $160,000 a year
914                                   Seattle, WA             $140,000 a year
920                                   Seattle, WA    $50,000 - $65,000 a year
1062                                  Seattle, WA  $150,000 - $175,000 a year
1120                              Los Angeles, CA             $180,000 a year
1133                              Los Angeles, CA    $36,339 - $48,794 a year
1139                              Los Angeles, CA              $56,000 a year
1162                         Chatsworth, CA 91311    $50,000 - $60,000 a year
1193                              Los Angeles, CA    $73,286 - $86,231 a year
1198                    Rowland Heights, CA 91748              $50,000 a year
1210                              Los Angeles, CA             $160,000 a year
1236                              Los Angeles, CA             $120,000 a year
1240                              Los Angeles, CA   $84,336 - $110,616 a year
1270                                 Pasadena, CA   $80,000 - $110,000 a year
1274                              Los Angeles, CA   $80,000 - $110,000 a year
1327                                  Cypress, CA              $88,000 a year
...                                           ...                         ...
2009                               Orangeburg, NY              $25,000 a year
2017                                 New York, NY             $120,000 a year
2020            New York, NY 10167 (Midtown area)             $120,000 a year
2021                                Manhattan, NY    $59,708 - $72,246 a year
2023                                 New York, NY  $120,000 - $140,000 a year
2038                                 New York, NY  $140,000 - $160,000 a year
2050                   Long Island City, NY 11101   $76,340 - $100,322 a year
2066                                Manhattan, NY    $65,433 - $91,588 a year
2080                                 New York, NY    $59,708 - $72,246 a year
2085                                 New York, NY  $180,000 - $220,000 a year
2175                                 New York, NY    $50,000 - $65,000 a year
2186                                 New York, NY  $130,000 - $170,000 a year
2204                                 New York, NY    $41,057 - $61,669 a year
2242                                  Atlanta, GA   $88,305 - $114,802 a year
2258                                  Atlanta, GA  $104,349 - $135,656 a year
2263                               Alpharetta, GA    $75,000 - $90,000 a year
2265                                  Atlanta, GA    $74,260 - $96,538 a year
2287     Atlanta, GA 30308 (Old Fourth Ward area)              $80,000 a year
2289                                  Atlanta, GA              $69,900 a year
2320                                  Atlanta, GA              $66,700 a year
2336                            Atlanta, GA 30341              $51,706 a year
2364                                  Atlanta, GA              $80,000 a year
2411                                  Atlanta, GA    $60,000 - $70,000 a year
2612                            San Francisco, CA  $160,000 - $180,000 a year
2723                             Redwood City, CA             $170,000 a year
2822                            San Francisco, CA             $185,000 a year
2850                            San Francisco, CA  $140,000 - $160,000 a year
2898                            San Francisco, CA             $160,000 a year
3049                                San Diego, CA              $53,000 a year
3068                          San Diego, CA 92122   $75,000 - $110,000 a year

                                                summary  \
40    Machine Learning Data Scientist. Forecasting, ...
375   Clean data for analysis. Develop data collecti...
387   Enter data from legal sources into database. I...
388   Works with large complex data sets, including ...
432   Research information and data problems. Certif...
461   Of visiting scientists; In use of excel, data ...
467   Experience finding data and/or providing suppo...
502   Extensive knowledge and experience analyzing s...
756   Peer review laboratory/project data including ...
758   Exposure to big data systems (Hadoop, HBASE, H...
795   Capture and record data in G2’s proprietary so...
801   We are searching for a highly motivated data s...
822   Business Intelligence Scientist. SQL, Digital ...
838   Join our Medical Laboratory Scientists Groups:...
892   Build big data, machine learning applications ...
914   Data and image analysis using advanced statist...
920   Growing international custom research supplier...
1062  Working with a team of Analysts, Software Deve...
1120  Our data team consists of two data analysts an...
1133  Compiles pertinent data to verify amounts, tot...
1139  Technical Skills in Data Collection/Analysis a...
1162  Demonstrated aptitude for data extraction from...
1193  Devises data processing procedures that make u...
1198  Analyzing and interpreting data; Identifies ma...
1210  They need a Lead or Principal level Data Scien...
1236  A Top Tier Investment Bank is looking for an e...
1240  Evaluates the performance of subordinate Super...
1270  Join our Medical Laboratory Scientists Groups:...
1274  Data Scientist experience a plus! Big data and...
1327  Altair ProductDesign is a global, multi-discip...
...                                                 ...
2009  Additional experience in statistical analysis ...
2017  Professional or academic experience working wi...
2020  A Top Tier Investment Bank is looking for an e...
2021  -Assisting in survey intake, data capture proc...
2023  As a Lead Data Scientist in our Operational An...
2038  Manage and grow a team of data scientists focu...
2050  -Experience with inferential statistical analy...
2066  Work with large datasets and administrative da...
2080  Evaluates demographic data from available sour...
2085  Looking for a strong Quantitative Analyst, Res...
2175  Growing international custom research supplier...
2186  We are hiring a Lead Data Scientist for our gr...
2204  This position will also be responsible for con...
2242  Applying principles, theories and methodology ...
2258  Lead scientists and program consultants in var...
2263  Junior Data Scientist sought by Fortune 500 co...
2265  As Behavioral Scientist you will:. Identify an...
2287  We are looking for a bright and experienced da...
2289  The Medical Image Analysis Scientist, works wi...
2320  Responsible for post award processing of grant...
2336  Skills with developing and presenting epidemio...
2364  Duties will include data conversion from multi...
2411  Estimate numerical data; Must see through the ...
2612  Data migration, transformation, and scripting....
2723  Through the Our Clients pivotal world-view in ...
2822  You will lead a team of 4 data scientists incl...
2850  Data Mining Experience. The Data Engineers wor...
2898  Position - Data Scientist - Recommendation Eng...
3049  The candidates working in a Team culture, are ...
3068  Integration of data storage solutions such as ...

                                                  title
40               Senior Machine Learning Data Scientist
375   SENIOR RESEARCH ANALYST, TEACHING AND LEARNING...
387                              Legal Research Analyst
388                                    Research Analyst
432                                   Bioinformationist
461                        Managing Director for STROBE
467                   Health & Human Sciences Librarian
502       Global Marketing Manager - Food Manufacturing
756               Environmental Laboratory Scientist II
758                    Data Scientist-Software Engineer
795                  Research and Investigation Analyst
801                    Assistant Director, Data Science
822                     Business Intelligence Scientist
838                          Variant Scientist (Remote)
892     Machine Learning Engineer - Big Data, Python, R
914   Sr. Data Scientist / Machine Learning (In-vitr...
920                                    Research Analyst
1062                          Sr. Global Device Manager
1120                              Senior Data Scientist
1133                           SENIOR STATISTICAL CLERK
1139                            Senior Research Analyst
1162                                   Research Analyst
1193          RESEARCH ANALYST III, BEHAVIORAL SCIENCES
1198                            Market Research Analyst
1210                                Lead Data Scientist
1236          Quantitative Analyst - Multiple Vacancies
1240      SUPERVISING CLINICAL LABORATORY SCIENTIST III
1270                LC/MS Clinical Laboratory Scientist
1274                                    Product Manager
1327                          Aerospace Program Manager
...                                                 ...
2009  Post-Doctoral Scientist (Analytical Psychophar...
2017                               Quantitative Analyst
2020          Quantitative Analyst - Multiple Vacancies
2021  Panel Maintenance Analyst, World Trade Center ...
2023                                Lead Data Scientist
2038                           Director of Data Science
2050  Senior Analyst (Biostatistician or Epidemiolog...
2066           POLICY AND OPERATIONS RESEARCH | ANALYST
2080                   Water Demand Projections Manager
2085  Senior Systematic Quantitative Analyst - Multi...
2175                                   Research Analyst
2186                   Lead Data Scientist (New Jersey)
2204                              STATISTICIAN, LEVEL I
2242                              Statistician (Health)
2258                                   Health Scientist
2263                              Junior Data Scientist
2265                               Behavioral Scientist
2287                                Lead Data Scientist
2289                       Scientist, Med Imag Analysis
2320               Sponsored Research Financial Analyst
2336                         Associate Research Analyst
2364        Audit Snr (Banking) - Data Analysis 60K-80K
2411                    Market Research & Sales Analyst
2612                        Data Engineer and Scientist
2723  Senior Data Scientist - Security Experience is...
2822                        Senior Data Science Manager
2850                             Data Engineer (Python)
2898             Data Scientist - Recommendation Engine
3049                                          Scientist
3068  Senior FullStack Developer – PHP, ElasticSearc...

[84 rows x 5 columns]

TypeError: 'tuple' object is not callable

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [13]:
import re
import numpy as np
def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])

In [14]:
# use '.map' to transform salary to new feature
new_data['salary'] = new_data['salary'].map(extract_salary_average)

/Users/alexandertam/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [15]:
print new_data

                                                company  \
40                                     All-In Analytics
375                               Denver Public Schools
387                                       Mountain Ltd.
388                         Community College of Aurora
432                              University of Colorado
461                              University of Colorado
467                              University of Colorado
502                                        Potatoes USA
756                                         King County
758                               Dynamic Staffing Inc.
795                                G2 Web Services, LLC
801                                LIBERTY MUTUAL GROUP
822                                    All-In Analytics
838                               Lighthouse Recruiting
892                                           HERO.Jobs
914                    Cutting Edge Medical Diagnostics
920                               Smith Arnold Partners
1062                                   All-In Analytics
1120                                                 LT
1133                 Los Angeles County Human Resources
1139     Tessie Cleveland Community Service Corporation
1162                       Phillips Graduate University
1193   Los Angeles County Department of Human Resources
1198                                         QYResearch
1210                                          HERO.jobs
1236                                     Selby Jennings
1240                 Los Angeles County Human Resources
1270                              Lighthouse Recruiting
1274                                 Jobspring Partners
1327                                 Altair Engineering
...                                                 ...
2009                          Nathan S. Kline Institute
2017                                           StreetID
2020                                     Selby Jennings
2021                      DEPT OF HEALTH/MENTAL HYGIENE
2023                                            Averity
2038                            Smith Hanley Associates
2050  New York City Department of Health and Mental ...
2066                      OFFICE OF MANAGEMENT & BUDGET
2080                     DEPT OF ENVIRONMENT PROTECTION
2085                                            Averity
2175                              Smith Arnold Partners
2186                                            Averity
2204                                  POLICE DEPARTMENT
2242         Centers for Disease Control and Prevention
2258         Centers for Disease Control and Prevention
2263                                Analytic Recruiting
2265         Centers for Disease Control and Prevention
2287                                         Stackfolio
2289                                   Emory University
2320                                   Emory University
2336                                               CSTE
2364                               Synergy Search Group
2411                        Interesse International Inc
2612                                         Dashbot.io
2723                           Elevate Recruiting Group
2822                                            Harnham
2850                              Workbridge Associates
2898                              Bayone Solutions Inc.
3049                              IGE Therapeutics, Inc
3068                                     Tristaff Group

                                         location    salary  \
40                                     Austin, TX  150000.0
375   Denver, CO 80204 (Central West Denver area)   69673.0
387                                    Denver, CO   42500.0
388                                    Aurora, CO   40000.0
432                                    Aurora, CO   56500.0
461                                   Boulder, CO  107500.0
467                                   Boulder, CO   50500.0
502                                    Denver, CO   85000.0
756           Seattle, WA 98119 (Queen Anne area)   81078.0
758                                   Seattle, WA  125000.0
795            Bellevue, WA 98004 (Downtown area)   35000.0
801                                   Seattle, WA  118000.0
822                                   Seattle, WA  125000.0
838                                   Seattle, WA   95000.0
892                                   Seattle, WA  160000.0
914                                   Seattle, WA  140000.0
920                                   Seattle, WA   57500.0
1062                                  Seattle, WA  162500.0
1120                              Los Angeles, CA  180000.0
1133                              Los Angeles, CA   42566.5
1139                              Los Angeles, CA   56000.0
1162                         Chatsworth, CA 91311   55000.0
1193                              Los Angeles, CA   79758.5
1198                    Rowland Heights, CA 91748   50000.0
1210                              Los Angeles, CA  160000.0
1236                              Los Angeles, CA  120000.0
1240                              Los Angeles, CA   97476.0
1270                                 Pasadena, CA   95000.0
1274                              Los Angeles, CA   95000.0
1327                                  Cypress, CA   88000.0
...                                           ...       ...
2009                               Orangeburg, NY   25000.0
2017                                 New York, NY  120000.0
2020            New York, NY 10167 (Midtown area)  120000.0
2021                                Manhattan, NY   65977.0
2023                                 New York, NY  130000.0
2038                                 New York, NY  150000.0
2050                   Long Island City, NY 11101   88331.0
2066                                Manhattan, NY   78510.5
2080                                 New York, NY   65977.0
2085                                 New York, NY  200000.0
2175                                 New York, NY   57500.0
2186                                 New York, NY  150000.0
2204                                 New York, NY   51363.0
2242                                  Atlanta, GA  101553.5
2258                                  Atlanta, GA  120002.5
2263                               Alpharetta, GA   82500.0
2265                                  Atlanta, GA   85399.0
2287     Atlanta, GA 30308 (Old Fourth Ward area)   80000.0
2289                                  Atlanta, GA   69900.0
2320                                  Atlanta, GA   66700.0
2336                            Atlanta, GA 30341   51706.0
2364                                  Atlanta, GA   80000.0
2411                                  Atlanta, GA   65000.0
2612                            San Francisco, CA  170000.0
2723                             Redwood City, CA  170000.0
2822                            San Francisco, CA  185000.0
2850                            San Francisco, CA  150000.0
2898                            San Francisco, CA  160000.0
3049                                San Diego, CA   53000.0
3068                          San Diego, CA 92122   92500.0

                                                summary  \
40    Machine Learning Data Scientist. Forecasting, ...
375   Clean data for analysis. Develop data collecti...
387   Enter data from legal sources into database. I...
388   Works with large complex data sets, including ...
432   Research information and data problems. Certif...
461   Of visiting scientists; In use of excel, data ...
467   Experience finding data and/or providing suppo...
502   Extensive knowledge and experience analyzing s...
756   Peer review laboratory/project data including ...
758   Exposure to big data systems (Hadoop, HBASE, H...
795   Capture and record data in G2’s proprietary so...
801   We are searching for a highly motivated data s...
822   Business Intelligence Scientist. SQL, Digital ...
838   Join our Medical Laboratory Scientists Groups:...
892   Build big data, machine learning applications ...
914   Data and image analysis using advanced statist...
920   Growing international custom research supplier...
1062  Working with a team of Analysts, Software Deve...
1120  Our data team consists of two data analysts an...
1133  Compiles pertinent data to verify amounts, tot...
1139  Technical Skills in Data Collection/Analysis a...
1162  Demonstrated aptitude for data extraction from...
1193  Devises data processing procedures that make u...
1198  Analyzing and interpreting data; Identifies ma...
1210  They need a Lead or Principal level Data Scien...
1236  A Top Tier Investment Bank is looking for an e...
1240  Evaluates the performance of subordinate Super...
1270  Join our Medical Laboratory Scientists Groups:...
1274  Data Scientist experience a plus! Big data and...
1327  Altair ProductDesign is a global, multi-discip...
...                                                 ...
2009  Additional experience in statistical analysis ...
2017  Professional or academic experience working wi...
2020  A Top Tier Investment Bank is looking for an e...
2021  -Assisting in survey intake, data capture proc...
2023  As a Lead Data Scientist in our Operational An...
2038  Manage and grow a team of data scientists focu...
2050  -Experience with inferential statistical analy...
2066  Work with large datasets and administrative da...
2080  Evaluates demographic data from available sour...
2085  Looking for a strong Quantitative Analyst, Res...
2175  Growing international custom research supplier...
2186  We are hiring a Lead Data Scientist for our gr...
2204  This position will also be responsible for con...
2242  Applying principles, theories and methodology ...
2258  Lead scientists and program consultants in var...
2263  Junior Data Scientist sought by Fortune 500 co...
2265  As Behavioral Scientist you will:. Identify an...
2287  We are looking for a bright and experienced da...
2289  The Medical Image Analysis Scientist, works wi...
2320  Responsible for post award processing of grant...
2336  Skills with developing and presenting epidemio...
2364  Duties will include data conversion from multi...
2411  Estimate numerical data; Must see through the ...
2612  Data migration, transformation, and scripting....
2723  Through the Our Clients pivotal world-view in ...
2822  You will lead a team of 4 data scientists incl...
2850  Data Mining Experience. The Data Engineers wor...
2898  Position - Data Scientist - Recommendation Eng...
3049  The candidates working in a Team culture, are ...
3068  Integration of data storage solutions such as ...

                                                  title
40               Senior Machine Learning Data Scientist
375   SENIOR RESEARCH ANALYST, TEACHING AND LEARNING...
387                              Legal Research Analyst
388                                    Research Analyst
432                                   Bioinformationist
461                        Managing Director for STROBE
467                   Health & Human Sciences Librarian
502       Global Marketing Manager - Food Manufacturing
756               Environmental Laboratory Scientist II
758                    Data Scientist-Software Engineer
795                  Research and Investigation Analyst
801                    Assistant Director, Data Science
822                     Business Intelligence Scientist
838                          Variant Scientist (Remote)
892     Machine Learning Engineer - Big Data, Python, R
914   Sr. Data Scientist / Machine Learning (In-vitr...
920                                    Research Analyst
1062                          Sr. Global Device Manager
1120                              Senior Data Scientist
1133                           SENIOR STATISTICAL CLERK
1139                            Senior Research Analyst
1162                                   Research Analyst
1193          RESEARCH ANALYST III, BEHAVIORAL SCIENCES
1198                            Market Research Analyst
1210                                Lead Data Scientist
1236          Quantitative Analyst - Multiple Vacancies
1240      SUPERVISING CLINICAL LABORATORY SCIENTIST III
1270                LC/MS Clinical Laboratory Scientist
1274                                    Product Manager
1327                          Aerospace Program Manager
...                                                 ...
2009  Post-Doctoral Scientist (Analytical Psychophar...
2017                               Quantitative Analyst
2020          Quantitative Analyst - Multiple Vacancies
2021  Panel Maintenance Analyst, World Trade Center ...
2023                                Lead Data Scientist
2038                           Director of Data Science
2050  Senior Analyst (Biostatistician or Epidemiolog...
2066           POLICY AND OPERATIONS RESEARCH | ANALYST
2080                   Water Demand Projections Manager
2085  Senior Systematic Quantitative Analyst - Multi...
2175                                   Research Analyst
2186                   Lead Data Scientist (New Jersey)
2204                              STATISTICIAN, LEVEL I
2242                              Statistician (Health)
2258                                   Health Scientist
2263                              Junior Data Scientist
2265                               Behavioral Scientist
2287                                Lead Data Scientist
2289                       Scientist, Med Imag Analysis
2320               Sponsored Research Financial Analyst
2336                         Associate Research Analyst
2364        Audit Snr (Banking) - Data Analysis 60K-80K
2411                    Market Research & Sales Analyst
2612                        Data Engineer and Scientist
2723  Senior Data Scientist - Security Experience is...
2822                        Senior Data Science Manager
2850                             Data Engineer (Python)
2898             Data Scientist - Recommendation Engine
3049                                          Scientist
3068  Senior FullStack Developer – PHP, ElasticSearc...

[84 rows x 5 columns]

In [16]:
# save scraped results as a CSV for Tableau/external viz
new_data.to_csv('DS_Salaries.csv', encoding = 'utf-8')

In [17]:
my_df = new_data.reset_index(drop=True)

In [18]:
my_df.head()
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 5 columns):
company     84 non-null object
location    84 non-null object
salary      84 non-null float64
summary     84 non-null object
title       84 non-null object
dtypes: float64(1), object(4)
memory usage: 3.4+ KB

## Predicting salaries using Logistic Regression

In [19]:
# load in the the data of scraped salaries

In [43]:
def city_extract(word):
    #print word.split(',')[0].strip()
    return word.split(',')[0].strip()
def state_extract(word):
    #print word.split(',')[1].strip()
    return word.split(',')[1].strip()

In [44]:
my_df['city'] = pd.DataFrame({'city':my_df['location'].apply(city_extract)})
my_df['state'] = pd.DataFrame({'state':my_df['location'].apply(state_extract)})

In [45]:
#AT - fix this for you.

In [46]:
my_df

,company,location,salary,summary,title,city,state
0,All-In Analytics,"Austin, TX",150000.0,"Machine Learning Data Scientist. Forecasting, ...",Senior Machine Learning Data Scientist,Austin,TX
1,Denver Public Schools,"Denver, CO 80204 (Central West Denver area)",69673.0,Clean data for analysis. Develop data collecti...,"SENIOR RESEARCH ANALYST, TEACHING AND LEARNING...",Denver,CO 80204 (Central West Denver area)
2,Mountain Ltd.,"Denver, CO",42500.0,Enter data from legal sources into database. I...,Legal Research Analyst,Denver,CO
3,Community College of Aurora,"Aurora, CO",40000.0,"Works with large complex data sets, including ...",Research Analyst,Aurora,CO
4,University of Colorado,"Aurora, CO",56500.0,Research information and data problems. Certif...,Bioinformationist,Aurora,CO
5,University of Colorado,"Boulder, CO",107500.0,"Of visiting scientists; In use of excel, data ...",Managing Director for STROBE,Boulder,CO
6,University of Colorado,"Boulder, CO",50500.0,Experience finding data and/or providing suppo...,Health & Human Sciences Librarian,Boulder,CO
7,Potatoes USA,"Denver, CO",85000.0,Extensive knowledge and experience analyzing s...,Global Marketing Manager - Food Manufacturing,Denver,CO
8,King County,"Seattle, WA 98119 (Queen Anne area)",81078.0,Peer review laboratory/project data including ...,Environmental Laboratory Scientist II,Seattle,WA 98119 (Queen Anne area)
9,Dynamic Staffing Inc.,"Seattle, WA",125000.0,"Exposure to big data systems (Hadoop, HBASE, H...",Data Scientist-Software Engineer,Seattle,WA
10,"G2 Web Services, LLC","Bellevue, WA 98004 (Downtown area)",35000.0,Capture and record data in G2’s proprietary so...,Research and Investigation Analyst,Bellevue,WA 98004 (Downtown area)
11,LIBERTY MUTUAL GROUP,"Seattle, WA",118000.0,We are searching for a highly motivated data s...,"Assistant Director, Data Science",Seattle,WA
12,All-In Analytics,"Seattle, WA",125000.0,"Business Intelligence Scientist. SQL, Digital ...",Business Intelligence Scientist,Seattle,WA
13,Lighthouse Recruiting,"Seattle, WA",95000.0,Join our Medical Laboratory Scientists Groups:...,Variant Scientist (Remote),Seattle,WA
14,HERO.Jobs,"Seattle, WA",160000.0,"Build big data, machine learning applications ...","Machine Learning Engineer - Big Data, Python, R",Seattle,WA
15,Cutting Edge Medical Diagnostics,"Seattle, WA",140000.0,Data and image analysis using advanced statist...,Sr. Data Scientist / Machine Learning (In-vitr...,Seattle,WA
16,Smith Arnold Partners,"Seattle, WA",57500.0,Growing international custom research supplier...,Research Analyst,Seattle,WA
17,All-In Analytics,"Seattle, WA",162500.0,"Working with a team of Analysts, Software Deve...",Sr. Global Device Manager,Seattle,WA
18,LT,"Los Angeles, CA",180000.0,Our data team consists of two data analysts an...,Senior Data Scientist,Los Angeles,CA
19,Los Angeles County Human Resources,"Los Angeles, CA",42566.5,"Compiles pertinent data to verify amounts, tot...",SENIOR STATISTICAL CLERK,Los Angeles,CA
20,Tessie Cleveland Community Service Corporation,"Los Angeles, CA",56000.0,Technical Skills in Data Collection/Analysis a...,Senior Research Analyst,Los Angeles,CA
21,Phillips Graduate University,"Chatsworth, CA 91311",55000.0,Demonstrated aptitude for data extraction from...,Research Analyst,Chatsworth,CA 91311
22,Los Angeles County Department of Human Resources,"Los Angeles, CA",79758.5,Devises data processing procedures that make u...,"RESEARCH ANALYST III, BEHAVIORAL SCIENCES",Los Angeles,CA
23,QYResearch,"Rowland Heights, CA 91748",50000.0,Analyzing and interpreting data; Identifies ma...,Market Research Analyst,Rowland Heights,CA 91748
24,HERO.jobs,"Los Angeles, CA",160000.0,They need a Lead or Principal level Data Scien...,Lead Data Scientist,Los Angeles,CA
25,Selby Jennings,"Los Angeles, CA",120000.0,A Top Tier Investment Bank is looking for an e...,Quantitative Analyst - Multiple Vacancies,Los Angeles,CA
26,Los Angeles County Human Resources,"Los Angeles, CA",97476.0,Evaluates the performance of subordinate Super...,SUPERVISING CLINICAL LABORATORY SCIENTIST III,Los Angeles,CA
27,Lighthouse Recruiting,"Pasadena, CA",95000.0,Join our Medical Laboratory Scientists Groups:...,LC/MS Clinical Laboratory Scientist,Pasadena,CA
28,Jobspring Partners,"Los Angeles, CA",95000.0,Data Scientist experience a plus! Big data and...,Product Manager,Los Angeles,CA
29,Altair Engineering,"Cypress, CA",88000.0,"Altair ProductDesign is a global, multi-discip...",Aerospace Program Manager,Cypress,CA
...,...,...,...,...,...,...,...
54,Nathan S. Kline Institute,"Orangeburg, NY",25000.0,Additional experience in statistical analysis ...,Post-Doctoral Scientist (Analytical Psychophar...,Orangeburg,NY
55,StreetID,"New York, NY",120000.0,Professional or academic experience working wi...,Quantitative Analyst,New York,NY
56,Selby Jennings,"New York, NY 10167 (Midtown area)",120000.0,A Top Tier Investment Bank is looking for an e...,Quantitative Analyst - Multiple Vacancies,New York,NY 10167 (Midtown area)
57,DEPT OF HEALTH/MENTAL HYGIENE,"Manhattan, NY",65977.0,"-Assisting in survey intake, data capture proc...","Panel Maintenance Analyst, World Trade Center ...",Manhattan,NY
58,Averity,"New York, NY",130000.0,As a Lead Data Scientist in our Operational An...,Lead Data Scientist,New York,NY
59,Smith Hanley Associates,"New York, NY",150000.0,Manage and grow a team of data scientists focu...,Director of Data Science,New York,NY
60,New York City Department of Health and Mental ...,"Long Island City, NY 11101",88331.0,-Experience with inferential statistical analy...,Senior Analyst (Biostatistician or Epidemiolog...,Long Island City,NY 11101
61,OFFICE OF MANAGEMENT & BUDGET,"Manhattan, NY",78510.5,Work with large datasets and administrative da...,POLICY AND OPERATIONS RESEARCH | ANALYST,Manhattan,NY
62,DEPT OF ENVIRONMENT PROTECTION,"New York, NY",65977.0,Evaluates demographic data from available sour...,Water Demand Projections Manager,New York,NY
63,Averity,"New York, NY",200000.0,"Looking for a strong Quantitative Analyst, Res...",Senior Systematic Quantitative Analyst - Multi...,New York,NY
64,Smith Arnold Partners,"New York, NY",57500.0,Growing international custom research supplier...,Research Analyst,New York,NY
65,Averity,"New York, NY",150000.0,We are hiring a Lead Data Scientist for our gr...,Lead Data Scientist (New Jersey),New York,NY
66,POLICE DEPARTMENT,"New York, NY",51363.0,This position will also be responsible for con...,"STATISTICIAN, LEVEL I",New York,NY
67,Centers for Disease Control and Prevention,"Atlanta, GA",101553.5,"Applying principles, theories and methodology ...",Statistician (Health),Atlanta,GA
68,Centers for Disease Control and Prevention,"Atlanta, GA",120002.5,Lead scientists and program consultants in var...,Health Scientist,Atlanta,GA
69,Analytic Recruiting,"Alpharetta, GA",82500.0,Junior Data Scientist sought by Fortune 500 co...,Junior Data Scientist,Alpharetta,GA
70,Centers for Disease Control and Prevention,"Atlanta, GA",85399.0,As Behavioral Scientist you will:. Identify an...,Behavioral Scientist,Atlanta,GA
71,Stackfolio,"Atlanta, GA 30308 (Old Fourth Ward area)",80000.0,We are looking for a bright and experienced da...,Lead Data Scientist,Atlanta,GA 30308 (Old Fourth Ward area)
72,Emory University,"Atlanta, GA",69900.0,"The Medical Image Analysis Scientist, works wi...","Scientist, Med Imag Analysis",Atlanta,GA
73,Emory University,"Atlanta, GA",66700.0,Responsible for post award processing of grant...,Sponsored Research Financial Analyst,Atlanta,GA
74,CSTE,"Atlanta, GA 30341",51706.0,Skills with developing and presenting epidemio...,Associate Research Analyst,Atlanta,GA 30341
75,Synergy Search Group,"Atlanta, GA",80000.0,Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K,Atlanta,GA
76,Interesse International Inc,"Atlanta, GA",65000.0,Estimate numerical data; Must see through the ...,Market Research & Sales Analyst,Atlanta,GA
77,Dashbot.io,"San Francisco, CA",170000.0,"Data migration, transformation, and scripting....",Data Engineer and Scientist,San Francisco,CA
78,Elevate Recruiting Group,"Redwood City, CA",170000.0,Through the Our Clients pivotal world-view in ...,Senior Data Scientist - Security Experience is...,Redwood City,CA
79,Harnham,"San Francisco, CA",185000.0,You will lead a team of 4 data scientists incl...,Senior Data Science Manager,San Francisco,CA
80,Workbridge Associates,"San Francisco, CA",150000.0,Data Mining Experience. The Data Engineers wor...,Data Engineer (Python),San Francisco,CA
81,Bayone Solutions Inc.,"San Francisco, CA",160000.0,Position - Data Scientist - Recommendation Eng...,Data Scientist - Recommendation Engine,San Francisco,CA
82,"IGE Therapeutics, Inc","San Diego, CA",53000.0,"The candidates working in a Team culture, are ...",Scientist,San Diego,CA
83,Tristaff Group,"San Diego, CA 92122",92500.0,Integration of data storage solutions such as ...,"Senior FullStack Developer – PHP, ElasticSearc...",San Diego,CA 92122

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [50]:
# calculate median and create feature with 1 as high salary

median_data = my_df['salary'].median()
median_data
my_df['High_Low'] = my_df['salary'].map(lambda x: 1 if x >= median_data else 0)

### Q: What is the baseline accuracy for this model?

It is 50% if we guess randomly, half the salaries will be below the median and half will be above.

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [51]:
# create statsmodel and summary
import statsmodels.formula.api as sm

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' or 'Manager' is in the title 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [53]:
# create senior, director, and manager dummies
my_df['is_senior'] = my_df['title'].str.contains('Senior','Sr').astype(int) # example
my_df['is_Manager'] = my_df['title'].str.contains('Manager').astype(int)
my_df['director'] = my_df['title'].str.contains('director').astype(int)
my_df['junior'] = my_df['title'].str.contains('junior').astype(int)

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [54]:
# scale, (patsy optional), and fit
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from patsy import dmatrix

scaler = StandardScaler()
model = LogisticRegression(penalty = 'l2', C=0.1)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [55]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']: # example

IndentationError: expected an indented block (<ipython-input-55-1ef955424515>, line 4)

### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [56]:
model = LogisticRegression(penalty = 'l1', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:

IndentationError: expected an indented block (<ipython-input-56-1e568571ce9f>, line 4)

In [57]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : X.design_info.column_names, 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)
df

NameError: name 'X_scaled' is not defined

#### Optional: Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients. Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary. Which entries have the highest predicted salaries?

# Bonus Section: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are most valuable?

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform()

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

TypeError: fit_transform() takes at least 2 arguments (1 given)

In [59]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : vectorizer.get_feature_names(), 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)

NameError: name 'X_scaled' is not defined

In [60]:
df.head()

,company,location,salary,summary,title
0,Indeed Prime,"Austin, TX",None,Expert in Python and core libraries used by da...,Data Scientist
1,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
2,Galvanize,United States,None,"Lead Instructor, Principal Data Engineer - Ent...","Lead Instructor, Principal Data Scientist - En..."
3,IBM,"Austin, TX",None,Automatically find and interpret data rich sou...,Data Engineer / Data Scientist
4,University of Texas at Austin,"Austin, TX","$5,400 - $6,500 a month",Experience with statistical data analysis. Ana...,Engineering Scientist Associate - R and D Soft...

In [61]:
df.tail()

,company,location,salary,summary,title
3256,TriStaff Group,"San Diego, CA 92122",None,We are currently seeking a creative scientist ...,Assistant Director/Principle Scientist Molecul...
3261,"Agility Clinical, Inc","Carlsbad, CA",None,"Generate analysis datasets, tables, figures, a...",Statistical Programmer II
3262,"DNA Electronics, Inc.","Carlsbad, CA",None,Effective managerial skills and the ability to...,Director of Molecular Assay Development
3265,ABBOTT LABORATORIES,"Carlsbad, CA",None,Must be able to prepare reports and present da...,Scientist /Sr. Scientist –Molecular Assay Deve...
3308,Human Longevity,"San Diego, CA",None,Is looking for a Research Scientist to work as...,"Research Scientist, Evolutionary and Populatio..."

In [62]:
# retest L1 and L2 regularization
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()

Score: | /24
------|-------
Identify: Problem Statement and Hypothesis | 
Acquire: Import Data using BeautifulSoup| 
Parse: Clean and Organize Data| 
Model: Perform Logistic Regression| 
Evaluate: Logistic Regression Results	|
Present: Blog Report with Findings and Recommendations		| 
Interactive Tableau visualizations | 
Regularization |
Bonus: Countvectorizer  |